<form action="/users/new" method="POST" class="input">
  <input type="text" name="name" size="35" placeholder="Username">
  <input type="text" name="email" size="35" placeholder="Email">
  <input type="password" name="password_hash" size="35" placeholder="Password">
  <input type="submit" value="submit" class="button">
</form>
