<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }
  th {
    text-align: left;
  }
</style>

<div class="container">
  <% @posts.each do |post| %>
    <li>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
      By: <a href="/users/<%= post.author_id %>"><%= post.author_id %></a>
    </li>
  <% end %>
</div>
